# run command after updating this file -> direnv allow .
use flake

# Example: export_alias zz "ls -la"
export_alias() {
  local name=$1
  shift
  local alias_dir=$PWD/.direnv/aliases
  local target="$alias_dir/$name"
  mkdir -p "$alias_dir"
  PATH_add "$alias_dir"
  echo "#!/usr/bin/env bash" > "$target"
  echo "$@" >> "$target"
  chmod +x "$target"
}

# running scripts in these alias require "bash <path/to/script>"
export_alias terra-apply "bash ${PWD}/scripts/state-crypt.sh"
export_alias terra-state "bash ${PWD}/scripts/state-read.sh"

export_alias aws-login "aws login && sleep 2 && python ${PWD}/scripts/aws_credentials_update.py && aws configure set region us-east-1"