# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

### Regardging TFVARS ###

# Recommendation:
# Exclude all .tfvars files, which are likely to contain sensitive data, such as
# password, private keys, and other secrets. These should not be part of version 
# control as they are data points which are potentially sensitive and subject 
# to change depending on the environment.

# My approach and reasoning:
# Not gitignoring tfvars because the whole point of that operation would be if
# secrets are or are planned to be stored in tfvars file which is not the case
# for my setup. Current secrets will be pulled from SOPS (encrypted file not in Git)
# and future secrets will be able to take advantage of TF_VAR_* environment variables
# so they will be pulled into those and used that way. This tfvars aren't used for
# secret management and storage which feels wrong.

# *.tfvars
# *.tfvars.json

### ----------------- ###

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore transient lock info files created by terraform apply
.terraform.tfstate.lock.info

# Include override files you do wish to add to version control using negated pattern
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore Ansible roles
/ansible/roles_external/

# Ignore nix flake generated .direnv dir
/.direnv/

# Ignore for Vitepress Docs
**/node_modules
**/.vitepress/cache
**/.vitepress/dist

# Ignore secrets dir
/secrets

# Ignore site build dir, needed temporarily
# while getting full CI/CD pipeline online
/site-build