- name: Deploy to day host
  hosts: day
  gather_facts: true

  tasks:
    - name: Load Sops Secrets
      community.sops.load_vars:
        file: "{{ playbook_dir }}/../../secrets/secrets.yaml"
        name: sops_secrets
        expressions: ignore  # explicitly do not evaluate expressions
                            # on load (this is the default)


    # - name: Include Debian-Server Role
    #   include_role:
    #     name: debian_server
    #   vars:
    #     swap_file_size_mb: '1024'

    # # when re-running the playbook this task will be commented out
    # - name: Pause for 1 minute for dns propagation to finish before running network role
    #   ansible.builtin.pause:
    #     minutes: 1

    # - name: Include Network Role
    #   include_role:
    #     name: network_center
    #   vars:
    #     docker_dir: "{{host_docker_dir}}"
    #     project_name: "network_center"
    #     network_backend: "{{ network_center.network_backend }}"
    #     TRAEFIK_DASHBOARD_CREDENTIALS: "{{ sops_secrets.TRAEFIK_DASHBOARD_CREDENTIALS }}"
    #     ts_auth_key: "{{ sops_secrets.day_server_ts_auth_key }}"
    #     desec_api_token: "{{ sops_secrets.desec_api_token }}"
    #     domains:
    #       main: "{{ network_center.domains.main }}"
    #       wildcard: "{{ network_center.domains.wildcard }}"
    #       traefik: "{{ network_center.domains.traefik }}"
    #     dns: "{{network_center.dns}}"
    #     networks: "{{host_networks}}"
    #     macvlan: "{{macvlan_network_center}}"

    # - name: Include Edgeshark Role
    #   include_role:
    #     name: edgeshark
    #   vars:
    #     ts_auth_key: "{{ sops_secrets.day_shark_server_ts_auth_key }}"
    #     docker_dir: "{{host_docker_dir}}"
    #     project_name: "{{edgeshark.name}}"
    #     domains: "{{edgeshark.domains}}"
    #     network_backend: "{{ edgeshark.network_backend }}"
    #     macvlan: "{{macvlan_edgeshark}}"

    - name: Include Monitor Outpost Role
      include_role:
        name: monitor_outpost
      vars:
        docker_dir: "{{host_docker_dir}}"
        project_name: "{{monitor_outpost.name}}"
        t3_network_backend: "{{monitor_outpost.network_backend}}"
        TRAEFIK_DASHBOARD_CREDENTIALS: "{{ sops_secrets.TRAEFIK_DASHBOARD_CREDENTIALS }}"
        ts_auth_key: "{{ sops_secrets.day_server_monitor_outpost_ts_auth_key }}"
        ts_auth_alloy_key: "{{ sops_secrets.day_server_monitor_alloy_ts_auth_key }}"
        desec_api_token: "{{ sops_secrets.desec_api_token }}"
        outpost_header: "{{monitor_outpost.outpost_header}}"
        domains: "{{monitor_outpost.domains}}"
        traefik_scrape_addresses: "{{monitor_outpost.traefik_scrape_addresses}}"
        tailscale_scrape_addresses: "{{monitor_outpost.tailscale_scrape_addresses}}"
        macvlan: "{{macvlan_monitor_outpost}}"
        alloy_macvlan: "{{host_alloy_macvlan}}"
        dns: "{{monitor_outpost.dns}}"

    - name: Include SearXNG Role
      include_role:
        name: searxng
      vars:
        docker_dir: "{{host_docker_dir}}"
        project_name: "{{searxng.name}}"
        domain: "{{searxng.domain}}"
        network_backend: "{{ searxng.network_backend }}"

    # - name: Include Vikunja Role
    #   include_role:
    #     name: vikunja
    #   vars:
    #     docker_dir: "{{host_docker_dir}}"
    #     project_name: "{{vikunja.name}}"
    #     domain: "{{vikunja.domain}}"
    #     network_backend: "{{ vikunja.network_backend }}"

# ---

    # - name: Include ExpenseOwl Role
    #   include_role:
    #     name: expenseowl
    #   vars:
    #     docker_dir: "{{host_docker_dir}}"
    #     project_name: "{{expenseowl.name}}"
    #     domain: "{{expenseowl.domain}}"
    #     network_backend: "{{ expenseowl.network_backend }}"