services:

  socket-proxy:
    image: "11notes/socket-proxy:2.1.6@sha256:2f4e605a5441b31389a95ef942af45927e8df4df4e974cfa271a388799d4f87b"
    hostname: socketproxy
    container_name: socketproxy
    network_mode: "none"
    read_only: true
    user: "0:994"
    volumes:
      - "/run/docker.sock:/run/docker.sock:ro"
      - "socket-proxy:/run/proxy" # this socket is run as 1000:1000, not as root
    restart: "always"

  traefik:
    image: traefik:v3.6
    container_name: traefik
    depends_on:
      socket-proxy:
        condition: "service_healthy"
        restart: true
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    ports:
      - "80/tcp"
      - "443/tcp"
      # - "9100"
    networks:
      {%- for net in networks.shared | default([], true) +%}
      {{ net.name }}:
        ipv4_address: {{ net.traefik_ip }}
      {%- endfor +%}
      {%- for net in networks.traefik_specific | default([], true) +%}
      {{ net.name }}:
        ipv4_address: {{ net.traefik_ip }}
      {%- endfor +%}
    environment:
      DESEC_TOKEN_FILE: /run/secrets/desec_api_token # note using _FILE for docker secrets
      DESEC_POLLING_INTERVAL: "10"
      DESEC_PROPAGATION_TIMEOUT: "140"
      TRAEFIK_DASHBOARD_CREDENTIALS: ${TRAEFIK_DASHBOARD_CREDENTIALS}
    secrets:
      - desec_api_token
    env_file: .env # use .env
    volumes:
      - "socket-proxy:/var/run" # access docker socket via proxy read-only
      - /etc/localtime:/etc/localtime:ro
      - ./traefik/data/traefik_dynamic.yml:/configs/traefik_dynamic.yml:ro
      - ./traefik/data/traefik_static.yml:/etc/traefik/traefik.yml:ro
      - ./traefik/data/acme.json:/acme.json
    deploy:
      resources:
        limits:
          cpus: '0.5'  # Limit to 50% of one CPU core
          memory: 512M  # Limit to 512MB RAM
        reservations:
          cpus: '0.1'  # Reserve 10% of one CPU core
          memory: 128M  # Reserve 128MB RAM
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik_tailscale"
      - "traefik.http.routers.traefik.entrypoints=http"
      - "traefik.http.routers.traefik.rule=Host(`{{domains.traefik}}`)"
      - "traefik.http.middlewares.traefik-auth.basicauth.users=${TRAEFIK_DASHBOARD_CREDENTIALS}"
      - "traefik.http.middlewares.traefik-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.middlewares.sslheader.headers.customrequestheaders.X-Forwarded-Proto=https"
      - "traefik.http.routers.traefik.middlewares=traefik-https-redirect"

      - "traefik.http.routers.traefik-secure.entrypoints=https"
      - "traefik.http.routers.traefik-secure.rule=Host(`{{domains.traefik}}`)"
      - "traefik.http.routers.traefik-secure.middlewares=traefik-auth"
      - "traefik.http.routers.traefik-secure.service=api@internal"
      
      - "traefik.http.routers.traefik-secure.tls=true"
      - "traefik.http.routers.traefik-secure.tls.certresolver=desec"
      - "traefik.http.routers.traefik-secure.tls.options=tlsv13only"
      {%- for domain in public_domains +%}
      - "traefik.http.routers.traefik-secure.tls.domains[{{ loop.index0 }}].main={{ domain }}"
      {%- endfor +%}

secrets:
  desec_api_token:
    file: ./desec_api_token.txt

volumes:
  socket-proxy:

networks:
  {%- for net in networks.shared | default([], true) +%}
  {{ net.name }}:
    external: true
  {%- endfor +%}
  {%- for net in networks.traefik_specific | default([], true) +%}
  {{ net.name }}:
    external: true
  {%- endfor +%}