http:
  middlewares:
    # Enabled Secure headers
    secure-headers:
      headers:
        sslRedirect: true
        frameDeny: true
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: 63072000
        contentTypeNosniff: true
        accessControlAllowMethods:
          - GET
          - POST
        accessControlAllowOriginList:
          {%- for domain in public_domains +%}
          - {{ domain }}
          {%- endfor +%}
        accessControlMaxAge: 100
        addVaryheader: true
        contentSecurityPolicy: script-src 'self'
        referrerPolicy: origin-when-cross-origin
        customResponseHeaders:
          server: ""
          x-powered-by: ""

    # Rate limiting
    rate-limit:
      rateLimit:
        average: 100
        period: 1
        burst: 100

    # Allow compressed content with Zstandard, Brotli, or Gzip
    response-compress:
      compress: {}