services:
  {{project_name}}:
    image: nginx:stable-alpine
    restart: unless-stopped
    networks:
      {{network_backend.name}}:
        ipv4_address: "{{network_backend.traefik_ips.nginx}}"
    volumes:
      - {{site_location}}:/app
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    environment:
      - NGINX_HOST=localhost
      - NGINX_PORT=80
    command: /bin/sh -c "nginx -g 'daemon off;'"
    labels:
      - "traefik.enable=true"
      - "traefik.zone.main=true"
      - "traefik.docker.network={{network_backend.name}}"
      # FIXME: only last rule with this approach applies
      {%- for domain in public_domains +%}
      - "traefik.http.routers.{{project_name}}.rule=Host(`{{domain}}`)"
      {%- endfor +%}
      - "traefik.http.routers.{{project_name}}.entrypoints=websecure"
      - "traefik.http.routers.{{project_name}}.tls=true"
      - "traefik.http.routers.{{project_name}}.tls.certresolver=desec"
      - "traefik.http.services.{{project_name}}.loadbalancer.server.port=80"

networks:
  {{network_backend.name}}:
    external: true