name: CD-Dev Execute Dev-Proxmox Build Pipeline

on:
  workflow_dispatch:
    inputs:
      action:
        description: 'Choose action: deploy or destroy'
        required: true
        default: 'deploy'
        type: choice
        options:
          - deploy
          - destroy
      environment_name:
        description: 'Environment to deploy/destroy'
        required: false 
        default: 'Development'

jobs:
  build-pipeline:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repository
      - name: Checkout current repository
        uses: actions/checkout@v4
      
      # Call CI to check everything is healthy

      # Check if server infra res exists
      # if yes: skip infra workflow
      # if no:  call infra workflow - create

      # Call configure server workflow