name: CD-Dev Manage infrastructure with Terraform
# blog.wiresndreams.dev

on:
  workflow_dispatch:
    inputs:
      action:
        description: 'Choose action: deploy or destroy'
        required: true
        default: 'deploy'
        type: choice
        options:
          - deploy
          - destroy
      environment_name:
        description: 'Environment to deploy/destroy'
        required: false 
        default: 'Development'

jobs:
  docs-build:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repository
      - name: Checkout current repository
        uses: actions/checkout@v4

      # Establish connection to proxmox
      

      # Terraform Handling
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.12.0

      - name: Terraform Init
        working-directory: terraform
        run: terraform init

      - name: Terraform Plan
        working-directory: terraform
        run: terraform plan -out=tfplan

      - name: Terraform Apply
        working-directory: terraform
        run: terraform apply -auto-approve tfplan

      - name: Terraform Destroy
        working-directory: terraform
        if: github.event_name == 'workflow_dispatch' && github.event.inputs.action == 'destroy'
        run: terraform destroy -auto-approve
