# dnsmasq.conf

## IMPORTANT ## 
# do not take out the comments for some reason rate
# limiting kills this when comments are taken out
##           ##

# General security
# no-resolv                    # Don't use system resolvers

# no-poll                      # Don't monitor /etc/resolv.conf
# no-hosts                     # Don't read /etc/hosts

domain-needed                # Reject plain names without a domain
bogus-priv                   # Never forward private IP ranges
stop-dns-rebind              # Protect against DNS rebinding

# Logging
# log-facility=/dev/null       # Avoid logging to disk (or use syslog)
# log-queries=off              # Disable per-query logging (avoid amplification)
quiet-dhcp                   # We aren't serving DHCP, so suppress related logs
quiet-dhcp6

# Performance limits
# dns-forward-max=150          # Lower max concurrent forwards
# cache-size=0                 # Foward-only mode plus less memory usage

server={{upstream_server}}

# NOTE: didn't work with upstream_server:1.1.1.1
# Only allow necessary ACME domains
# server=/letsencrypt.org/{{upstream_server}}
# server=/identrust.com/{{upstream_server}}
# server=/lencr.org/{{upstream_server}}

# server=/desec.io/{{upstream_server}}
# server=/desec.org/{{upstream_server}}

# server=/amazonaws.com/{{upstream_server}}
# server=/example.com/{{upstream_server}}

# Block everything else (respond NXDOMAIN)
bogus-nxdomain=0.0.0.0